<header>
    <a href="index.html" id="logo">
        <h1>My Fancy French Image Gallery</h1>
        <h2>Image Gallery</h2>
    </a>

    <nav>
        <ul>
            <li><a href="index.html" class="selected">Image Gallery</a> </li>
            <li><a href="groups.html">Groups</a> </li>
            <li><a href="contact.html">Contact</a> </li>
        </ul>
    </nav>
</header>
<section>

    <div id="wrapper">
        <ul id="gallery">

            <!--<div ng-repeat="img in imgs | orderBy: '-added'">-->

            <div ng-repeat="img in imgs">
                <li>
                    <a href= "#/images/{{$index}}">
                        <img src= {{img.image}} alt="">
                        <h3>{{img.title}}</h3>
                    </a>


                    <!--<span ng-show="img.link">-->
                    <!--{{img.link}} <br>-->
                    <!--</span>-->

                    added: {{img.added}} <br>

                    <button ng-class="!{{img.favourite}} && 'btn-warning'
                                        || {{img.favourite}} && 'btn-danger'"
                            ng-click="favourite(img)"> &lt;3: {{img.favourite}} </button>

                    <button ng-click="update(img)"> Using it Today </button>
                </li>
            </div>
        </ul>
    </div>

    <form class="image-form" ng-submit="addImg()">
        <input type="text" placeholder="Name" ng-model="title"><br>
        <input type="text" placeholder="Link" ng-model="link"><br>
        <button type="submit">Add new Img</button>
    </form>

</section>
<section>
    <div id="wrapper">
        <div id="image">
            <a href id="back" navigate-back>Previous page</a>
            <a href= {{img.image}} >
                <img src= {{img.image}} alt="">
            </a>



            <img ng-show="{{img.favourite}}" class="heart" src="./img/heart.png">
            <img ng-hide="{{img.favourite}}" class="grey-heart" src="./img/heart.png">




            <button ng-class="!{{img.favourite}} && 'btn-warning'
                                        || {{img.favourite}} && 'btn-danger'"
                    ng-click="favourite(img)"> &lt;3: {{img.favourite}} </button>


            <button ng-click="update(img)"> Using it Today </button>
            <h3>{{img.title}}</h3>

            <!--<span ng-show="img.link">-->
            <!--{{img.link}} <br>-->
            <!--</span>-->

            added: {{img.added}}
            <br>

            Price: {{img.price | currency : '£' : 2}}
            <br>
            Seasons :
            <span ng-repeat="season in img.seasons">
                {{season}}
            </span>
            <br>

            Times worn -
            <span ng-repeat="woreIt in img.worn">
                {{woreIt}}
            </span>
            <br>

            {{img.category}} -
            <span ng-repeat="color in img.colors">
                {{color}}
            </span>
            <br>

        </div>
    </div>
</section>